In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')

In [2]:
zipcode = pd.read_csv('../../data/processed_data/zipcode_bk.csv')
light = pd.read_csv('../../data/processed_data/bk_light_density.csv')
landuse = pd.read_csv('../../data/processed_data/landuse.csv')
street_sidewalk = pd.read_csv('../../data/processed_data/street_sidewalk.csv')
crime = pd.read_csv('../../data/processed_data/arrest_statistics.csv')

In [3]:
zipcode.POPULATION = zipcode.POPULATION.astype(int)
zipcode = zipcode.add_prefix('Zipcode_')

light = light.drop(['Unnamed: 0'], axis=1)
light = light.add_prefix('Light_')

In [4]:
len(light[light.Light_ZIPCODE == 11231])

1

In [5]:
light[light['Light_ZIPCODE'] == 11231]

,Light_ZIPCODE,Light_lights_number,Light_population,Light_area_ft,Light_geometry,Light_area_mile,Light_density
28,11231,604,33144,39379691.79,POINT (984110.2162756989 188363.491762624),1.412552,427.594855

In [6]:
len(landuse[landuse['zipcode']  == 11231])

1

In [7]:
landuse = landuse.add_prefix('Landuse_')

In [8]:
landuse[landuse['Landuse_zipcode']==11231]

,Landuse_zipcode,Landuse_Business,Landuse_Public,Landuse_Residential,Landuse_total_landuse_area_sqft,Landuse_Business_density,Landuse_Public_density,Landuse_Residential_density
28,11231,10624857.0,1891910.0,14898227.0,27414994.0,0.387556,0.06901,0.543434

In [9]:
street_sidewalk = street_sidewalk.drop(['Unnamed: 0','Zipcode_ID', 'Zipcode_PO_NAME', 'Zipcode_POPULATION',
                                        'Zipcode_AREA', 'Zipcode_ST_FIPS', 'Zipcode_CTY_FIPS',], axis=1)

In [10]:
len(street_sidewalk[street_sidewalk.ZIPCODE == 11231])

2

Deal with the uncombined zipcode in street_sidewalk

In [11]:
def find_differences(r1, r2):
    differences = []
    for index, (item1, item2) in enumerate(zip(r1, r2)):
        if item1 != item2:
            differences.append((index, item1, item2))
    return differences

row1=street_sidewalk[street_sidewalk.ZIPCODE == 11231].iloc[0,:]
row2=street_sidewalk[street_sidewalk.ZIPCODE == 11231].iloc[1,:]

differences = find_differences(row1, row2)

for index, item1, item2 in differences:
    print(f"Differences found at Column {index + 1}: {item1} vs {item2}")

Differences found at Column 2: 39379691.5464 vs 701979.35189

In [12]:
street_sidewalk.columns

Index(['ZIPCODE', 'Zipcode_Area_sqft', 'Sidewalk_ID', 'Sidewalk_Shape_Length',
       'Sidewalk_Shape_Area', 'Street_FAIR', 'Street_GOOD', 'Street_NR',
       'Street_POOR', 'Street_sum_length_ft', 'Street_fair_ratio',
       'Street_good_ratio', 'Street_nr_ratio', 'Street_poor_ratio'],
      dtype='object')

In [13]:
street_sidewalk[street_sidewalk.ZIPCODE == 11231]

,ZIPCODE,Zipcode_Area_sqft,Sidewalk_ID,Sidewalk_Shape_Length,Sidewalk_Shape_Area,Street_FAIR,Street_GOOD,Street_NR,Street_POOR,Street_sum_length_ft,Street_fair_ratio,Street_good_ratio,Street_nr_ratio,Street_poor_ratio
19,11231,3.937969e+07,29,619370.624545,3.824893e+06,46051.954878,101054.946764,16133.508001,1927.198702,165167.608345,0.27882,0.611833,0.09768,0.011668
21,11231,7.019794e+05,29,619370.624545,3.824893e+06,46051.954878,101054.946764,16133.508001,1927.198702,165167.608345,0.27882,0.611833,0.09768,0.011668

combined_zip = street_sidewalk[street_sidewalk.ZIPCODE == 11231].groupby(['ZIPCODE', 'Sidewalk_ID', 'Sidewalk_Shape_Length',
       'Sidewalk_Shape_Area', 'Street_FAIR', 'Street_GOOD', 'Street_NR',
       'Street_POOR', 'Street_sum_length_ft', 'Street_fair_ratio',
       'Street_good_ratio', 'Street_nr_ratio', 'Street_poor_ratio'])['Zipcode_Area_sqft'].sum().reset_index()[['ZIPCODE', 'Zipcode_Area_sqft', 'Sidewalk_ID', 'Sidewalk_Shape_Length',
       'Sidewalk_Shape_Area', 'Street_FAIR', 'Street_GOOD', 'Street_NR',
       'Street_POOR', 'Street_sum_length_ft', 'Street_fair_ratio',
       'Street_good_ratio', 'Street_nr_ratio', 'Street_poor_ratio']]

In [14]:
street_sidewalk = street_sidewalk.drop(21)

In [15]:
street_sidewalk.shape

(39, 14)

In [16]:
street_sidewalk = street_sidewalk.add_prefix('SS_')

In [17]:
crime[crime.ZIPCODE == 11231]

,ZIPCODE,ArrestCount,population,geometry,Jan_ArrestCounts,Feb_ArrestCounts,Mar_ArrestCounts,Apr_ArrestCounts,May_ArrestCounts,Jun_ArrestCounts,Jul_ArrestCounts,Aug_ArrestCounts,Sep_ArrestCounts,Oct_ArrestCounts,Nov_ArrestCounts,Dec_ArrestCounts
28,11231,1108,33144.0,POINT (984110.2162756989 188363.491762624),106,64,94,119,83,54,91,128,91,102,89,87

In [18]:
crime.population = crime.population.astype(int)
crime = crime.add_prefix('Crime_')

In [19]:
zipcode_key = 'Zipcode_ZIPCODE'
light_key = 'Light_ZIPCODE'
landuse_key = 'Landuse_zipcode'
ss_key = 'SS_ZIPCODE'
crime_key = 'Crime_ZIPCODE'

In [20]:
integrated = pd.merge(zipcode, light, left_on=zipcode_key, right_on=light_key, how='outer')
integrated = pd.merge(integrated, landuse, left_on=zipcode_key, right_on=landuse_key, how='outer')
integrated = pd.merge(integrated, street_sidewalk, left_on=zipcode_key, right_on=ss_key, how='outer')
integrated = pd.merge(integrated, crime, left_on=zipcode_key, right_on=crime_key, how='outer')

In [21]:
integrated.to_csv('../../data/processed_data/integrated.csv')