# NYC Shooting Incidents Analysis

In [34]:
# import packages
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pylab as plt
import math
import os 
import seaborn as sns #for styling the plots
import warnings
import urllib.request
from scipy import stats
import statsmodels.formula.api as smf
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [3]:
## The data has alrealdy been narrowed down to Borough == Brooklyn
Data = pd.read_csv('../../data/raw/light_bk.csv')

In [4]:
pd.set_option('display.max_columns', None)

In [12]:
Data.head(3)

,Unnamed: 0,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Description,Resolution Action Updated Date,Community Board,BBL,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Open Data Channel Type,Park Facility Name,Park Borough,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,52,33769340,07/06/2016 01:35:00 AM,07/21/2016 12:00:00 AM,DOT,Department of Transportation,Street Light Condition,Traffic Signal Light,NaN,NaN,NaN,NaN,ADELPHI ST,PARK AVE,ADELPHI ST,PARK AVE,INTERSECTION,NaN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,07/21/2016 12:00:00 AM,Unspecified BROOKLYN,NaN,BROOKLYN,NaN,NaN,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,77,33880765,07/19/2016 12:11:00 PM,07/19/2016 12:11:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,11203.0,NaN,NaN,UTICA AVE,FOSTER AVE,UTICA AVENUE,FOSTER AVENUE,INTERSECTION,BROOKLYN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,07/18/2016 12:11:00 PM,17 BROOKLYN,NaN,BROOKLYN,1003925.0,172379.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.639795,-73.929107,"(40.63979528864854, -73.92910706900996)"
2,102,33886470,07/20/2016 11:58:00 AM,07/20/2016 11:58:00 AM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,NaN,NaN,NaN,95 ST E,AVE K,95 ST E,AVE K,INTERSECTION,NaN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,07/19/2016 11:58:00 AM,Unspecified BROOKLYN,NaN,BROOKLYN,NaN,NaN,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
print(f'Initial data shape is {Data.shape}')
light_location = Data.drop_duplicates(subset=['Location'])
print(f'After droping the duplicates, the shape is {light_location.shape}')
light_location = light_location.dropna(subset=['Location'])
print(f'After droping NA values, the shape is {light_location.shape}')
light_location.head(3)

Initial data shape is (297677, 42)
After droping the duplicates, the shape is (25250, 42)
After droping NA values, the shape is (25249, 42)

,Unnamed: 0,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City,Landmark,Facility Type,Status,Due Date,Resolution Description,Resolution Action Updated Date,Community Board,BBL,Borough,X Coordinate (State Plane),Y Coordinate (State Plane),Open Data Channel Type,Park Facility Name,Park Borough,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
1,77,33880765,07/19/2016 12:11:00 PM,07/19/2016 12:11:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,11203.0,NaN,NaN,UTICA AVE,FOSTER AVE,UTICA AVENUE,FOSTER AVENUE,INTERSECTION,BROOKLYN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,07/18/2016 12:11:00 PM,17 BROOKLYN,NaN,BROOKLYN,1003925.0,172379.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.639795,-73.929107,"(40.63979528864854, -73.92910706900996)"
3,108,33763371,07/05/2016 05:50:00 PM,07/06/2016 12:08:00 PM,DOT,Department of Transportation,Street Light Condition,Fixture/Luminaire Out Of Position,NaN,11210.0,3402 AVENUE L,AVENUE L,34 ST E,35 ST E,NaN,NaN,ADDRESS,BROOKLYN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,07/06/2016 12:08:00 PM,18 BROOKLYN,3.076520e+09,BROOKLYN,1000342.0,166046.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.622420,-73.942032,"(40.6224197807114, -73.94203242567343)"
4,133,33908989,07/22/2016 11:02:00 AM,08/31/2016 12:14:00 PM,DOT,Department of Transportation,Street Light Condition,Street Light Out,NaN,11215.0,NaN,NaN,CARROLL ST,5 AVE,CARROLL STREET,5 AVENUE,INTERSECTION,BROOKLYN,NaN,NaN,Closed,NaN,Service Request status for this request is ava...,08/31/2016 12:14:00 PM,06 BROOKLYN,NaN,BROOKLYN,989430.0,185251.0,UNKNOWN,Unspecified,BROOKLYN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.675146,-73.981326,"(40.67514644049858, -73.98132554022042)"

In [37]:
light_location.columns

Index(['Unnamed: 0', 'Unique Key', 'Created Date', 'Closed Date', 'Agency',
       'Agency Name', 'Complaint Type', 'Descriptor', 'Location Type',
       'Incident Zip', 'Incident Address', 'Street Name', 'Cross Street 1',
       'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2',
       'Address Type', 'City', 'Landmark', 'Facility Type', 'Status',
       'Due Date', 'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [17]:
lights_bk = light_location[['Borough','Incident Zip','Latitude','Longitude','Location', 'Complaint Type', 'Descriptor']]

In [33]:
# filter out only Brooklyn data
lights_bk = lights_bk[~lights_bk['Incident Zip'].isna()]
lights_bk['Incident Zip'] = lights_bk['Incident Zip'].astype(int)
lights_bk = lights_bk[(lights_bk['Incident Zip'] >= 11201) & (lights_bk['Incident Zip'] <= 11256)]
print(f'The cleaned Brooklyn landuse data shape is {lights_bk.shape}.')
lights_bk

The cleaned Brooklyn landuse data shape is (25237, 7).

C:\Users\hongy\AppData\Local\Temp\ipykernel_39340\1210652661.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lights_bk['Incident Zip'] = lights_bk['Incident Zip'].astype(int)

,Borough,Incident Zip,Latitude,Longitude,Location,Complaint Type,Descriptor
1,BROOKLYN,11203,40.639795,-73.929107,"(40.63979528864854, -73.92910706900996)",Street Light Condition,Street Light Out
3,BROOKLYN,11210,40.622420,-73.942032,"(40.6224197807114, -73.94203242567343)",Street Light Condition,Fixture/Luminaire Out Of Position
4,BROOKLYN,11215,40.675146,-73.981326,"(40.67514644049858, -73.98132554022042)",Street Light Condition,Street Light Out
6,BROOKLYN,11238,40.686683,-73.959569,"(40.686682623345476, -73.95956892856266)",Street Light Condition,Street Light Out
7,BROOKLYN,11214,40.604760,-74.011499,"(40.60476009377737, -74.01149897423922)",Street Light Condition,Street Light Out
...,...,...,...,...,...,...,...
297583,BROOKLYN,11233,40.679277,-73.926220,"(40.67927714486069, -73.92622049075123)",Street Light Condition,Street Light Lamp Missing
297586,BROOKLYN,11203,40.649474,-73.940546,"(40.649474394659876, -73.94054580868084)",Street Light Condition,Street Light Out
297631,BROOKLYN,11221,40.687348,-73.915982,"(40.687347992177486, -73.91598199347952)",Street Light Condition,Street Light Cycling
297638,BROOKLYN,11237,40.699665,-73.913262,"(40.69966450134263, -73.91326164500046)",Street Light Condition,Street Light Out
297646,BROOKLYN,11219,40.632508,-73.994744,"(40.632507653161746, -73.99474350800106)",Street Light Condition,Lamppost Missing

In [44]:
if len(lights_bk['Complaint Type'].unique()) == 1:
    print('Delete column Complaint Type, because it only has one value:', lights_bk['Complaint Type'].unique()[0])
    lights_bk = lights_bk.drop(['Complaint Type'], axis=1)

Delete column Complaint Type, because it only has one value: Street Light Condition

In [37]:
lights_bk['Descriptor'].value_counts()

Descriptor
Street Light Out                     19157
Street Light Cycling                   614
Fixture/Luminaire Out Of Position      611
Lamppost Base Door/Cover Open          491
Street Light Lamp Dim                  462
Street Light Lamp Missing              371
Lamppost Leaning                       360
Street Light Dayburning                335
Lamppost Wire Exposed                  322
Multiple Street Lights Out             317
Lamppost Knocked Down                  291
Lamppost Missing                       282
Lamppost Damaged                       248
Lamppost Base Door/Cover Damaged       245
Fixture/Luminaire Hanging              211
Photocell (PEC) Missing                110
Fixture/Luminaire Damaged               96
Foreign Attachment On Lamppost          90
Flood Light Lamp Out                    86
Fixture/Luminaire Missing               86
Fixture/Luminaire Door Open             80
Traffic Signal Light                    60
Lamppost Base Door/Cover Missing        46
Glassware Missing                       41
New Con Ed Service Request              41
Flood Light Lamp Cycling                39
Flood Light Lamp Missing                21
Glassware Hanging                       16
Foreign Attachment On Wood Pole         12
Bracket Arm Broken                      10
Multiple St Lts Dayburning              10
Bracket Arm Loose                       10
Glassware Broken                        10
Wood Pole Damaged                        6
Flood Light Lamp Dayburning              6
Wood Pole Leaning                        6
Time Clock Maladjusted                   6
In-Line Fuse Missing                     5
Bracket Arm Missing                      5
Fire Globe Missing                       4
Flood Light Lamp Dim                     4
Fire Alarm Lamp Missing                  4
Wood Pole Wires Exposed                  3
Fire Alarm Lamp Out                      2
Bracket Arm Bent                         2
Wood Pole Knocked Down                   1
Fire Alarm Lamp Cycling                  1
Fire Alarm Lamp Dim                      1
Name: count, dtype: int64

In [46]:
lights_bk.groupby('Incident Zip').size()

Incident Zip
11201     948
11203     578
11204    1083
11205     391
11206     649
11207    1237
11208    1068
11209     958
11210     437
11211     669
11212     728
11213     646
11214     929
11215     979
11216     520
11217     480
11218     628
11219     913
11220    1090
11221     827
11222     555
11223     536
11224     406
11225     490
11226     521
11228     498
11229     742
11230     524
11231     604
11232     381
11233     746
11234     845
11235     823
11236     539
11237     412
11238     560
11239      95
11241       1
11243       1
11249     199
11251       1
dtype: int64

In [44]:
lights_bk.dropna(subset=['Location'])

,Borough,Incident Zip,Latitude,Longitude,Location
1,BROOKLYN,11203.0,40.639795,-73.929107,"(40.63979528864854, -73.92910706900996)"
3,BROOKLYN,11210.0,40.622420,-73.942032,"(40.6224197807114, -73.94203242567343)"
4,BROOKLYN,11215.0,40.675146,-73.981326,"(40.67514644049858, -73.98132554022042)"
6,BROOKLYN,11238.0,40.686683,-73.959569,"(40.686682623345476, -73.95956892856266)"
7,BROOKLYN,11214.0,40.604760,-74.011499,"(40.60476009377737, -74.01149897423922)"
...,...,...,...,...,...
297583,BROOKLYN,11233.0,40.679277,-73.926220,"(40.67927714486069, -73.92622049075123)"
297586,BROOKLYN,11203.0,40.649474,-73.940546,"(40.649474394659876, -73.94054580868084)"
297631,BROOKLYN,11221.0,40.687348,-73.915982,"(40.687347992177486, -73.91598199347952)"
297638,BROOKLYN,11237.0,40.699665,-73.913262,"(40.69966450134263, -73.91326164500046)"
297646,BROOKLYN,11219.0,40.632508,-73.994744,"(40.632507653161746, -73.99474350800106)"