In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [2]:
street_sidewalk = pd.read_excel("../../data/processed_data/street_sidewalk_fromArcGIS.xlsx")

In [3]:
street_sidewalk.head()

,OBJECTID_12,ZIPCODE,PO_NAME,POPULATION,AREA,ST_FIPS,CTY_FIPS,Area_sqft,OBJECTID,sidewalks_bk_AddSpatialJoin_2_ZIPCODE,Shape_Length,Shape_Area,OBJECTID_1,street_bk_AddSpatialJoin_ZIPCODE,FAIR,GOOD,NR,POOR,sum_length_ft,fair_ratio,good_ratio,nr_ratio,poor_ratio
0,1,11213,Brooklyn,62426,2.963100e+07,36,47,2.963100e+07,12,11213,517941.119336,3.404947e+06,12,11213,20450.328412,74077.364992,NaN,171.353421,94699.046825,0.215951,0.782240,0.000000,0.001809
1,2,11212,Brooklyn,83866,4.197210e+07,36,47,4.197210e+07,11,11212,804360.335036,5.094083e+06,11,11212,42740.061035,135857.883777,2063.149670,748.383281,181409.477763,0.235600,0.748902,0.011373,0.004125
2,3,11225,Brooklyn,56527,2.369863e+07,36,47,2.369863e+07,24,11225,401025.097033,2.462233e+06,24,11225,27581.352686,58257.349875,NaN,434.510199,86273.212760,0.319698,0.675266,0.000000,0.005036
3,4,11218,Brooklyn,72280,3.686880e+07,36,47,3.686880e+07,17,11218,674792.786521,3.857986e+06,17,11218,26161.827616,132294.639490,4667.815745,121.202211,163245.485063,0.160261,0.810403,0.028594,0.000742
4,5,11226,Brooklyn,106132,3.940860e+07,36,47,3.940860e+07,25,11226,692705.804288,3.945623e+06,25,11226,40136.353728,124379.965244,478.122393,302.803669,165297.245033,0.242813,0.752462,0.002893,0.001832

# Sanity Check

In [4]:
# rename the columns
street_sidewalk = street_sidewalk.rename(columns={
    'OBJECTID_12': 'Zipcode_ID', 'ZIPCODE': 'ZIPCODE', 'PO_NAME': 'Zipcode_PO_NAME', 'POPULATION': 'Zipcode_POPULATION', 
                   'AREA': 'Zipcode_AREA', 'ST_FIPS': 'Zipcode_ST_FIPS','CTY_FIPS': 'Zipcode_CTY_FIPS', 'Area_sqft': 'Zipcode_Area_sqft', 
                   'OBJECTID': 'Sidewalk_ID', 'sidewalks_bk_AddSpatialJoin_2_ZIPCODE': 'Sidewalk_ZIPCODE', 
                   'Shape_Length': 'Sidewalk_Shape_Length', 'Shape_Area': 'Sidewalk_Shape_Area', 'OBJECTID_1': 'Street_ID', 
                   'street_bk_AddSpatialJoin_ZIPCODE': 'Street_ZIPCODE', 'FAIR': 'Street_FAIR', 'GOOD': 'Street_GOOD', 'NR': 'Street_NR',
                   'POOR': 'Street_POOR', 'sum_length_ft': 'Street_sum_length_ft', 'fair_ratio': 'Street_fair_ratio', 
                   'good_ratio': 'Street_good_ratio', 'nr_ratio': 'Street_nr_ratio','poor_ratio': 'Street_poor_ratio'
                  }, errors="raise")

In [5]:
# sanity check of whether zipcodes for every file before combining are the same, they should be same!
if sum(
    (street_sidewalk['ZIPCODE'] == street_sidewalk['Sidewalk_ZIPCODE']) & 
    (street_sidewalk['Sidewalk_ZIPCODE'] == street_sidewalk['Street_ZIPCODE'])
) != street_sidewalk.shape[0]:
    print('Go back to check the zipcodes for three files beforing combining them into street_sidewalk')
else:
    street_sidewalk = street_sidewalk.drop(['Sidewalk_ZIPCODE', 'Street_ZIPCODE'], axis=1)

In [6]:
street_sidewalk.columns

Index(['Zipcode_ID', 'ZIPCODE', 'Zipcode_PO_NAME', 'Zipcode_POPULATION',
       'Zipcode_AREA', 'Zipcode_ST_FIPS', 'Zipcode_CTY_FIPS',
       'Zipcode_Area_sqft', 'Sidewalk_ID', 'Sidewalk_Shape_Length',
       'Sidewalk_Shape_Area', 'Street_ID', 'Street_FAIR', 'Street_GOOD',
       'Street_NR', 'Street_POOR', 'Street_sum_length_ft', 'Street_fair_ratio',
       'Street_good_ratio', 'Street_nr_ratio', 'Street_poor_ratio'],
      dtype='object')

In [7]:
street_sidewalk.head()

,Zipcode_ID,ZIPCODE,Zipcode_PO_NAME,Zipcode_POPULATION,Zipcode_AREA,Zipcode_ST_FIPS,Zipcode_CTY_FIPS,Zipcode_Area_sqft,Sidewalk_ID,Sidewalk_Shape_Length,Sidewalk_Shape_Area,Street_ID,Street_FAIR,Street_GOOD,Street_NR,Street_POOR,Street_sum_length_ft,Street_fair_ratio,Street_good_ratio,Street_nr_ratio,Street_poor_ratio
0,1,11213,Brooklyn,62426,2.963100e+07,36,47,2.963100e+07,12,517941.119336,3.404947e+06,12,20450.328412,74077.364992,NaN,171.353421,94699.046825,0.215951,0.782240,0.000000,0.001809
1,2,11212,Brooklyn,83866,4.197210e+07,36,47,4.197210e+07,11,804360.335036,5.094083e+06,11,42740.061035,135857.883777,2063.149670,748.383281,181409.477763,0.235600,0.748902,0.011373,0.004125
2,3,11225,Brooklyn,56527,2.369863e+07,36,47,2.369863e+07,24,401025.097033,2.462233e+06,24,27581.352686,58257.349875,NaN,434.510199,86273.212760,0.319698,0.675266,0.000000,0.005036
3,4,11218,Brooklyn,72280,3.686880e+07,36,47,3.686880e+07,17,674792.786521,3.857986e+06,17,26161.827616,132294.639490,4667.815745,121.202211,163245.485063,0.160261,0.810403,0.028594,0.000742
4,5,11226,Brooklyn,106132,3.940860e+07,36,47,3.940860e+07,25,692705.804288,3.945623e+06,25,40136.353728,124379.965244,478.122393,302.803669,165297.245033,0.242813,0.752462,0.002893,0.001832

In [8]:
# sanity chck of sidewalk and street ID, they are the same, and have 2 values counts of ID 29:
if sum((street_sidewalk['Sidewalk_ID'] == street_sidewalk['Street_ID'])) == street_sidewalk.shape[0]:
    street_sidewalk = street_sidewalk.drop(['Street_ID'], axis=1)

In [9]:
street_sidewalk.to_csv("../../data/processed_data/street_sidewalk.csv")

In [10]:
#street_sidewalk[street_sidewalk.ZIPCODE == 11231]